@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@600&display=swap');
*{
    margin: 0;

}
html{
    font-size: 100%px;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 200%;}
header {
  width: 100%;
  height: 13%;
  background-color: black;
  margin: 0 auto; }
.fondo {
  background-image: url("https://www.amd.com/system/files/texture-blurry-carbon-screen-1920x600.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

  form {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: ridge 2px white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; }

input {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px; }

::placeholder {
  color: white;
  opacity: 0.7; }

svg {
  color: white;
  fill: currentColor;
  width: 44px;
  height: 44px;
  padding: 10px; }

.button
.button-search {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  }
.sticky {
  background-color: #141E30;
  background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
  padding:0px 0; }

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  justify-content: center !important; }

.search-size {
  width: 80%; }

.navbar {
  justify-content: center !important; }
ol{
  margin: 0 !important;
}

.centrar{
    text-align: center;
}
.Teko{
  font-family: 'Teko';
}
.batmanForever {
  font-family: 'BatmanForeverAlternate'; }

.grandRegular {
  font-family: 'NTF-Grand Regular'; }

.nav-bebas {
  font-family: 'Bebas Neue'; }
.Lexend{
  font-family: 'Lexend-Tera';
}

.logo-tamaño {
  width: 50%;
  height: 50%;
  align-self: center; }

.flex-img {
  flex: 1 0 0;
  align-self: center; }

.flex-icons {
  flex: 1 0 0; }

.flex-buscador {
  flex: 3 1 auto; }

.img-tamaño {
  width: 20%;
  height: 20%;
  margin: auto; }
.batmanForever{
    font-family: 'BatmanForeverAlternate';
}
/*Variables Bootstrap*/
.nav {
  margin-top: 13px; }

.btn-size {
  font-size: 23px; }

.btn-outline-primary {
  color: white;
  border-color: transparent;
  box-shadow: #8b0404 !important; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #8b0404 !important; }

.dropdown-menu[data-bs-popper] {
  left: 32rem !important; }

.btn-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-check:active, .btn-check:focus, .btn-check, .btn-outline-primary:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary.dropdown-toggle.show, .btn-check:checked, .btn-outline-primary:active, .btn-outline-primary:focus, .btn:focus, .btn-outline-primary:active:focus {
  background-color: black !important;
  border-color: #8b0404 !important;
  box-shadow: 0 0 0 0.10rem #8b0404 !important; }
.h-100 {
  height: 100%; }
.Producto {
  display: grid;
  grid-template-columns: 45.7% 54.3%;
  grid-template-rows: 25% 25% 31.5% 18.5%;
  gap: 10px 30px;
  width: 100%;
  height: 90%;
  padding: 150px;
  grid-auto-flow: row;
  grid-template-areas:
    "img precio"
    "img precio"
    "infor infor"
    "infor infor";
}

.img { grid-area: img;
background-color: transparent; }

.precio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 20% 10% 10% 30%;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: black;
  grid-template-areas:
    "nombre nombre"
    "moneda moneda"
    "texto texto"
    "texto texto"
    "boton boton";
  grid-area: precio;
}
.nombre{ grid-area: nombre;
font-size: 25px;
font-family: Lexend Tera;
margin-top: 20px;
color: white; }
.moneda{ grid-area: moneda;
font-size: 30px;
font-family: Lexend Tera;
text-shadow: 2px 2px transparent;
margin-top: 0px;
color: lightblue;
}
.texto{ grid-area: texto;
font-size: 15px;
font-family: Lexend Tera;
margin-top: 0px;
color: white;
}
.boton{grid-area: boton;
margin-top: 20px;
}

.infor { grid-area: infor;
background-color: black;
color: white ;
font-size: 18px;
font-family: Lexend Tera;
padding-top:0px ; }
h1{
  padding-bottom: 50px;
}
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}
.blue {
  color: #55acee;
  border: 2px #55acee solid;
}
.blue:hover {
  background-color: #55acee;
  color: #fff
}
footer {
  width: 100%;
  height: 40% !important; }

.footer {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "texto1 texto2"
 "texto1 texto2"
 "texto1 texto2"
 "texto1 texto2"
 "texto1 texto2"
 "texto1 pagos"
 "texto1 pagos"
 "texto1 derechos";
  width: 100%;
  height: 100%;
  background-color: black; }

.pagos {
  grid-area: pagos; }

.derechos {
  grid-area: derechos;
  color: #f2e3e4; }

.derechos p {
  margin-top: 25px; }

.texto2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "i"
 "j"
 "k"
 "l"
 "m";
  grid-area: texto2; }

.i {
  grid-area: i;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.j {
  grid-area: j;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.k {
  grid-area: k;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.l {
  grid-area: l;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.m {
  grid-area: m;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.texto1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "a"
 "b"
 "c"
 "d"
 "e"
 "f"
 "g";
  grid-area: texto1;
  justify-content: center; }

.a {
  grid-area: a;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.b {
  grid-area: b;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.c {
  grid-area: c;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.d {
  grid-area: d;
  font-size: 15px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.e {
  grid-area: e;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.f {
  grid-area: f;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.g {
  grid-area: g;
  font-size: 20px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }

.h {
  grid-area: h;
  font-size: 25px;
  font-family: 'Teko';
  margin-top: 50px;
  margin-left: 100px; }


